.box-container {
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-top: 20px;
    border: 2px solid black;
}
.icons {
    display: flex;
    align-items: center;
}
.box-container div {
    height: 125px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.box-container  a,button {
    max-width: 200px;
}



@media (width <= 440px) {
    .box-container {
        min-width: 300px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .box-container h2 {
        padding: 2px;
        font-size: 20px;
    }
}

@media screen and (width <=520px) {
    .box-container {
        margin-top: 20px;
    }
}

@media screen and (width <= 705) {
    
}