.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
@media screen and (width <= 420px) {
    .container-box {
      padding: 20px;
    }  
  }
  @media screen and (width <= 350px) {
    .container-box {
      display: flex;
      flex-direction: column;
    }
  }