.header {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;

}

.container{
    margin: 15px;
    background-color: #ffffff;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 20px black;
}

.container .box .image {
    width: 150px;
    height: 190px;
    margin: auto;
    border-radius: 30px;
}

.about-me{
    width: 100%;
}
.about-me h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.about-me .stack {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-button {
    margin: 0 auto;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    color: #fff;
    cursor: pointer;
    margin-top: 50px;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25%;
    padding: 20px;
    animation: bounceAnimation 2s infinite alternate;
}

.scroll-button:hover {
    color: rgb(0, 204, 255);
}

@keyframes bounceAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}




.social-midia {
    margin: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    background-color: #ffffff;
    box-shadow: 10px 20px black;

}
.social-midia h2 {
}



.social-midia .icons a {
    margin: 8px;
}
.social-midia .box-mail {
    display: flex;
justify-content: center;
align-items: center;
}

.social-midia .box-mail a {
    color: red;
}
.grade-download {
    box-shadow: 10px 20px black;
    margin: 15px;
    width: 600px;
    height:10em;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grade-download a {
    background-color: #ae00ff;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    color: #fff;
    font-size: 30;
    font-weight: bold;
    transition: all 0.5s;

}
.grade-download a:hover {
    background-color: rgba(0, 0, 0, 0.493);
    transition: all 0.5s;
}








@media screen and (max-width: 480px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container {
        width:100%;
        max-width: 350px;

    }

    .social-midia {
        width:100%;
        max-width: 350px;
    }
  
    .about-me .stack {
        display: flex;
    }
    .container .image {
        width: 90px;
        height: 120px;
        margin: auto;
        border-radius: 30px;
    }
    
    .grade-download {
        width:100%;
        max-width: 350px;
    }
}


