.cabeçalho {
    display: flex;
    color: white;
}
.main {
}
.main .container {
    max-width: 1200px;
    height: 100vh;
    text-align: start;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}
.main .container img {
    width: 300px;
    height: 350px;
}
.main .container h2{
    font-size: 55px;
    color: white;
}
.main .container p {color: white;font-size: 30px; text-decoration: underline;}






.main .social-midia {
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    align-items: center;
    padding: 20px;
    height: 100vh;
}
.main .social-midia h2 {
    width: 600px;
    text-align: start;
    font-size: 50px;

}
.main .social-midia .icons {
    display: flex;
    flex-direction: column;
}


.main .social-midia .icons a:nth-child(1):hover {
    background-color: #000000;
    box-shadow: -10px 10px 10px   rgb(0, 0, 0);

}
.main .social-midia .icons a:nth-child(2):hover {
    background-color:none;
    background-color: #fff;
    box-shadow: -10px 10px 10px   rgb(0, 68, 255);
}
.main .social-midia .icons a:nth-child(3):hover {
    background-color: #fff;
    box-shadow: -10px 10px 10px   rgb(255, 0, 0);

}

.main .grade-download{
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
    padding: 20px;
}

.main .grade-download h2 {
    width: 600px;
    text-align: start;
    font-size: 50px;
}
.main .grade-download .grade-icons  {
    display: flex;
    flex-direction: column;
}
.main .grade-download .grade-icons a {
    margin-top: 30px;
}

.main .grade-download .grade-icons a:nth-child(1):hover {
    background-color: #fff;
    box-shadow: -10px 10px 10px   rgb(51, 255, 0);
}

.main .grade-download .grade-icons a:nth-child(2):hover {
    background-color: #fff;
    box-shadow: -10px 10px 10px   rgb(255, 0, 0);
}

@media screen and (width <= 768px) { 
    .main .container {
    }
    
    .main .container img {
        width: 200px;
        height: 250px;
    }
    .main .container h2{
        font-size: 40px;
        color: white;
    }
    .main .container p {
        color: white;
        font-size: 20px; 
        text-decoration: none;
    }
    .main .container .tecs .tec-icon {
        width: 60px;
    }

    



    .main .social-midia {
        width: 100%;
        justify-content: space-evenly;
    }
    .main .social-midia h2 {
        width: 320px;
        font-size: 40px;
    }
    .main .social-midia .icons {
        display: flex;
    }
    
    .main .social-midia .icons a .icon-social {
        width: 60px;
        
    }

    .main .grade-download{
        color: #fff;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 1200px;
        height: 100vh;
        padding: 20px;
    }
    
    .main .grade-download h2 {
        font-size: 40px;
        width: 300px;
    }
    .main .grade-download .grade-icons  {
    }
    .main .grade-download .grade-icons a {
    }
    .main .grade-download .grade-icons a .icon-grade {
        width: 60px;
    }
    
} 

@media screen and (max-width:480px) { 
    .main .container {
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
    }
    
    .main .container img {
        width: 120px;
        height: 150px;
    }
    .main .container h2{
        font-size: 40px;
        color: white;
    }
    .main .container p {
        color: white;
        font-size: 20px; 
        text-decoration: none;
    }
    .main .container .tecs .tec-icon {
        width: 60px;
    }

    



    .main .social-midia {
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
    }
    .main .social-midia h2 {
        width: 320px;
        font-size: 40px;
    }
    .main .social-midia .icons {
        flex-direction: row;
    }
    
    .main .social-midia .icons a .icon-social {
        width: 60px;
        
    }
    
    .main .grade-download{
        color: #fff;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 1200px;
        height: 100vh;
        padding: 20px;
    }
    
    .main .grade-download h2 {
        font-size: 40px;
        width: 300px;
    }
    .main .grade-download .grade-icons  {
    }
    .main .grade-download .grade-icons a {
    }
    .main .grade-download .grade-icons a .icon-grade {
        width: 60px;
    }
} 

