
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

a{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in 0.5s;

}
a:hover {
    color: #002fff;
    transition: ease-in 0.2s;
}
h2 {
    font-size: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #282847;
}


@media  screen and (max-width: 480px) {
    h2 {
        font: 17px;
    }
    
}

