.container-home {
    padding-top: 7em;
    background-color: black;
    height: 100vh;
}


.container-home .box-sobre-mim {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: start;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container-home .box-sobre-mim .text-sobre-mim {
    max-width: 600px;
    flex: 1;
    padding: 20px; 
    box-sizing: border-box;
}
.container-home .box-sobre-mim .text-sobre-mim h1 {
    font-size: 50px;
}
.container-home .box-sobre-mim .text-sobre-mim h3 {
    font-size:20px;
    text-decoration: underline;
}
.container-home  .box-sobre-mim .layout {
    position: absolute;
}

.container-home .box-sobre-mim img {
    border-radius: 30px;
    width: 200px;
}



.container-home .box-download {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 20px;
    height: 100vh;
}
.container-home .box-download .contatos{
    max-width: 1200px;  
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}
.container-home  .pdf{
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.apresentacao {
    background: rgba(0, 0, 0, 0.989);
    height: 100vh;
}

.apresentacao .container-apresentaçao {
}
.apresentacao .container .box-img {}
.apresentacao .container-apresentaçao .box-img img {
    border-radius: 30px;
    width: 900px;
    height:500px;
}




@media screen and (width <= 1360px) {
    .container-home {
        height: 105vh;
    }
}


@media screen and (width <= 480px) {
    .container-home {
        height: 110vh;
    }
    
.container-home .box-sobre-mim {
    flex-direction: column;
    align-items: center;
}
.container-home  .box-sobre-mim .layout {
    position: relative;
}
    .container-home .box-sobre-mim h3 {
    width: 320px;
    margin-bottom: 10px;
    

    }
    .container-home .box-download .contatos {
        font-size: 15px;
        max-width: 600px;
    }
    .container-home .pdf {
        font-size: 15px;
        flex-direction: column;

    }
    .apresentacao .container-apresentaçao .box-img img {
        border-radius: 30px;
        width: 400px;
        height:300px;
    }
    
    
}

@media  screen and (width <= 768px) {
    .container-home {
        height: 112vh;
    }
    .container-home .box-download .contatos {
        font-size: 15px;
        max-width: 600px;
    }
    .container-home .pdf {
        font-size: 15px;
        flex-direction: column;
    }
}